<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.app.feature_event_scheduler">

    <application>
        <activity
                android:name=".ui.DateTimeSelectionActivity"
                android:label="@string/title_edit_scheduler_event" />
    </application>
</manifest>
